.nav{
text-align: center;
background-color: red;
border:4px dashed steelblue ;
width:150%}
.nav a{
text-decoration:none;
padding-left:10px ;
padding-right:10px;
color: yellow;}
.p{
text-align: center;
color:blue ;
background-color:yellow;
border:2px solid red;}
h2{
text-align:center;
color:blue;}
